{% extends 'base.html' %}
{% block title %}Create{% endblock %}

{% block content %}

  <div class="container">
    <h1>Create Operation</h1>

    <br/><br/>

    <form action="/successful" method="POST">
      <div class="mb-3">
      <b><p> {% block info %} Please enter the credentials below {% endblock %} </p></b>
      </div>

      <div class="mb-3">
        <input type="text" placeholder="Intern Name" name="intern_name">
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>

    {% for intern in interns %}
      <h4>
        {{ intern.intern_name }} <a href="/update/{{ intern.intern_id }}"class="btn-btn-outline-primary btn-sm">Update</a>
      </h4>
    {% endfor %}

    <br/>

    <div class="mb-3">
      <b><p> Thank you, your operation is successfully completed! </p></b>
      </div>

</div>

{% endblock %}